body { font-family: Calibri Light; }

.ustprofil {
    border-left: thin solid silver;
    border-right: thin solid silver;
    border-bottom: thin solid silver;
    width: 100%;
    height: 250px;
    background: white; /*profil bilgileri arkaplanı sonra değişecek*/
}

.ustprofiltablo {
    width: 100%;
    height: 250px;
    float: left;
    text-align: left;
    line-height: 0;
}

.profilresmi {
    width: 50px;
    height: 50px;
    border: thin solid white;
    -moz-border-radius: 75px;
    -webkit-border-radius: 75px;
    border-radius: 100%;
    margin: 10px;
}

.tg-right {
    width: 200px;
    text-align: center;
}

.tg-midle { width: 150px; }



.profilheader {
    width: 100%;
    height: 45px;
    border-bottom: thin solid silver;
    background-color: white;
    font-size: medium;
    line-height: 39px;
}

.tg-fa {
    height: 40px;
    width: 200px;
    border-left: solid thin silver;
}

#duzenle-tg-fa { border: none; }

.tg-fa i {
    color: #34495e;
    margin-right: 10px;
}

.tg-fa:hover, .offcanvas .tg-fa:focus {
    color: white;
    background-color: #E91E63;
    transition: 0.5s;
}

.altprofil {
    width: 100%;
    height: 100%;
    border-left: thin solid silver;
    border-right: thin solid silver;
}

.profilDuvar {
    float: left;
    text-align: left;
}

.profilPaylasim {
    width: 50%;
    height: auto;
    background-color: white;
    float: left;
    margin-top: 1%;
    /*margin-right: 0.3%;
    margin-left: 0.3%;*/
    margin-left: 40%;
    border: thin solid silver;
}

.paylasimHeader {
    width: 100%;
    height: 50px;
    background-color: azure;
    float: left;
    border-bottom: thin solid silver;
    line-height: 50px;
    margin-bottom: 1%;
}

.imgpaylasimHeaderResim {
    width: 35px;
    height: 35px;
    line-height: 35px;
    vertical-align: middle;
    border-radius: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.paylasimIcerik {
    width: 96%;
    height: 100%;
    background-color: white;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.lblPaylasimIcerik { vertical-align: middle; }

.paylasimFooter {
    width: 100%;
    height: 40px;
    float: left;
    background-color: #e0e0e0;
    line-height: 40px;
}

.imgPaylasimiBegenButton {
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-left: 2%;
    float: left;
}

.lblBegenmeSayisi {
    text-align: center;
    float: left;
    margin-left: 2%;
}

.lblPaylasimTarihi {
    float: right;
    text-align: right;
    margin-right: 2%;
}