@charset "utf-8";

body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Calibri Light;
    background-color: #f1f1f1;
    cursor: default;
}

.solNav {
    height: 100%;
    width: 10%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #34495E;
    overflow: hidden;
    padding-top: 4%;
}

.ortaAlan {
    width: 90%;
    height: 100%;
    margin-left: 10%;
    float: left;
}

.header {
    width: 90%;
    height: 6%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: azure;
    border-bottom: thin solid silver;
}

.header input {
    width: 25%;
    height: auto;
    float: left;
    margin-left: 1%;
    margin-top: 0.7%;
}

.header a {
    color: silver;
    float: right;
    margin-right: 5%;
}

.orta {
    width: 100%;
    height: 94%;
    float: left;
    margin: 0;
}

.main {
    height: 94%;
    width: 86%;
    margin-top: 4%;
    margin-left: 0.8%;
    margin-right: 0.8%;
    float: left;
}

.sagNav {
    position: fixed;
    height: 100%;
    width: 14%;
    right: 0;
    margin-top: 3%;
    overflow: hidden;
    transition: 0.5s;
}

.sagNavbaslik {
    text-align: left;
    padding-left: 10%;
    color: white;
    height: 5%;
    width: 100%;
    background-color: #607Dab;
    line-height: 200%;
    border-bottom: solid thin white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.etkinlikler {
    height: 88%;
    width: 100%;
    bottom: 0;
    color: #949494;
    background-color: #f1f1f1;
    float: left;
    overflow: auto;
    transition: 0.5s;
}

.etkinlik {
    width: 99.2%;
    height: 22%;
    float: left;
    margin-bottom: 9%;
    transition: 0.5s;
}

.etkinlik:hover {
    width: 99.2%;
    height: auto;
    float: left;
    transition: 0.5s;
    margin-bottom: 5%;
    margin-top: 5%;
}

.etkinlikbaslik {
    width: 100%;
    height: 25px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #03a9f4;
    color: white;
    font-size: 90%;
    padding-top: 5%;
}

.etkinlikicerik {
    width: 94%;
    height: 45%;
    text-align: left;
    font-size: 80%;
    background-color: white;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden;
    padding: 3%;
    transition: 0.5s;
}

.etkinlikalt {
    height: 35px;
    width: 98%;
    background-color: #b0bec5;
    color: white;
    vertical-align: middle;
    text-align: right;
    font-size: 80%;
    float: right;
    padding-right: 2%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.etkinlikyer {
    float: left;
    text-align: left;
    padding-left: 10px;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden;
}

.etkinliktarih {
    float: left;
    text-align: left;
    padding-left: 10px;
    word-wrap: break-word;
    display: inline-block;
    overflow: hidden;
}

.solNav a {
    padding-left: 15%;
    text-decoration: none;
    font-size: 130%;
    color: white;
    display: block;
    line-height: 200%;
}

.solNav #kuladi {
    padding: 0;
    margin-bottom: 25%;
    font-size: 80%;
    line-height: 80%;
    color: white;
    text-align: center;
    background-color: #34495E;
}

.solNav #profilepic {
    text-align: center;
    padding-left: 10%;
    padding-bottom: 35%;
    width: 80%;
    color: white;
}

.solNav a:hover, .offcanvas a:focus {
    background-color: #3B536B;
    color: #f1f1f1;
}

.solNav i { line-height: 0; }