body {
    font-family: Calibri Light;
    margin: 0;
    text-align: center;
    background-color: white;
   
}
img {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 110%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
}
.ortaDiv {
    position: fixed;
    float: left;
    top: 10%;
    right: 35%; 
    left: 35%; 
    padding: 3%;
    width: 30%;

    text-align: center;
    filter: opacity(80%);
   
    background-color: white;
    border-radius: 10px;
}