body {
    font-family: Calibri Light;
    margin: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
    overflow: hidden;
    transition: 0.5s;
}

img {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 110%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;    
}

.girisdivi {
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 37.5%;
    right: 37.5%;
    width: 25%;
    height: auto;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    filter: opacity(80%);
}


.sifremiunuttum {
    color: #2196f3;
    border-style: none;
    background-color: inherit;
    text-align: center;
}
